In [0]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
from sklearn.cluster import MeanShift, estimate_bandwidth

#Reads file with merged city data along with employment prediction information
#Includes original data, min-max normalized data, and z-scores
combo = pd.read_csv("merged_city_data_normalized_with_employment.csv", encoding = 'ISO-8859-1')
combo = combo.drop_duplicates(subset=['GeoID'])

#Gets the name and GeoID of each city
names = combo[['GeoID', 'Place Name']]

#Gets a list of the affiliate cities
aff = pd.read_csv("Affiliate-City-to-Id2.csv", encoding = 'ISO-8859-1')
aff = aff[['Geoid']]
aff.columns = ['GeoID']
aff['Affiliate'] = pd.Series(['Yes']*160)

In [0]:
#Fetchs min-max normalized data from table and stores into data
data = combo.iloc[:,27:44]
data['Employment Rate Prediction min_max_normalized'] = combo['Employment Rate Prediction min_max_normalized']

#Fills NaN values with 0's
data = data.fillna(0)

#Stores into numpy array
arr = data.values

In [10]:
#Bandwidth that creates a good number of clusters
bandwidth = 0.35

#Performs meanshift clustering
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
ms.fit(arr)
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique, counts = np.unique(labels, return_counts=True)
countClusters = dict(zip(labels_unique, counts))
n_clusters_ = len(labels_unique)

print(countClusters)

{0: 1872, 1: 1703, 2: 1299, 3: 114, 4: 14, 5: 14, 6: 32, 7: 35, 8: 3, 9: 1, 10: 8, 11: 1, 12: 29, 13: 1, 14: 20, 15: 79, 16: 9, 17: 10, 18: 31, 19: 7, 20: 12, 21: 1, 22: 116, 23: 3, 24: 36, 25: 8, 26: 2, 27: 121, 28: 1, 29: 1, 30: 1, 31: 128, 32: 1, 33: 2, 34: 15, 35: 41, 36: 1, 37: 11}

In [0]:
#Creates a new dataframe to store the results
res = pd.DataFrame(combo['GeoID'])

#Adds cluster labels, city names, and affiliate status to dataframe
res['Cluster'] = pd.Series(labels)
res = res.merge(names, on = 'GeoID')
res = res.merge(aff, how = 'left', on = 'GeoID')

#Outputs result as a csv
res.to_csv('clusters.csv')

#Creates a dataframe with all of the cluster centers and outputs as a csv
cc = pd.DataFrame(cluster_centers)
cc.to_csv("cluster_center.csv")

In [0]:
#Isolates city GeoID of each of the three major clusters
cluster1 = pd.DataFrame((res.loc[res['Cluster'] == 0])['GeoID'])
cluster2 = pd.DataFrame((res.loc[res['Cluster'] == 1])['GeoID'])
cluster3 = pd.DataFrame((res.loc[res['Cluster'] == 2])['GeoID'])

#Gets city statistics for each of the three major clusters
cluster1 = cluster1.merge(combo, on = 'GeoID', how = 'left')
cluster2 = cluster2.merge(combo, on = 'GeoID', how = 'left')
cluster3 = cluster3.merge(combo, on = 'GeoID', how = 'left')

#Gets means and standard deviations for the cities in each of the three major clusters
df3 = pd.DataFrame(cluster1.mean())
df3["Cluster 1 Standard Dev"] = pd.Series(cluster1.std())
df3["Cluster 2 Mean"] = pd.Series(cluster2.mean())
df3["Cluster 2 Standard Deviation"] = pd.Series(cluster2.std())
df3["Cluster 3 Mean"] = pd.Series(cluster3.mean())
df3["Cluster 3 Standard Deviation"] = pd.Series(cluster3.std())

#Outputs cluster statistics as a csv
df3.to_csv('cluster_stats.csv')

In [13]:
affCluster = res.loc[res['Affiliate'] == 'Yes']
counts = affCluster['Cluster'].value_counts()

#Prints out the number of affiliate cities in each of the clusters
print(counts)
#Prints out cluster assignment for each of the affiliate cities
print(affCluster)

1     98
2     29
15    11
3      7
12     5
24     2
7      2
35     1
20     1
18     1
9      1
6      1
0      1
Name: Cluster, dtype: int64
        GeoID  Cluster                             Place Name Affiliate
55     150000        1                   Mobile city, Alabama       Yes
100    203000        1         Anchorage municipality, Alaska       Yes
168    455000        1                  Phoenix city, Arizona       Yes
194    477000        1                   Tucson city, Arizona       Yes
253    566080        2              Springdale city, Arkansas       Yes
274    602000        1               Anaheim city, California       Yes
458    629000        1          Garden Grove city, California       Yes
460    630000        1              Glendale city, California       Yes
563    644000        1           Los Angeles city, California       Yes
565    644112        1             Los Gatos town, California       Yes
596    648354        1               Modesto city, California       Yes
628    653000       24               Oakland city, California       Yes
716    664000        1            Sacramento city, California       Yes
721    665000        1        San Bernardino city, California       Yes
726    666000        1             San Diego city, California       Yes
730    667000        3         San Francisco city, California       Yes
734    668000        1              San Jose city, California       Yes
810    680812        1               Turlock city, California       Yes
830    683346        1          Walnut Creek city, California       Yes
884    816000        1        Colorado Springs city, Colorado       Yes
891    820000        1                  Denver city, Colorado       Yes
916    832155        1                 Greeley city, Colorado       Yes
926    843000        1                Lakewood city, Colorado       Yes
965    908000       24           Bridgeport city, Connecticut       Yes
978    937000       15             Hartford city, Connecticut       Yes
986    952000        1            New Haven city, Connecticut       Yes
1035  1077580       15              Wilmington city, Delaware       Yes
1037  1150000        3  Washington city, District of Columbia       Yes
1083  1212875        2               Clearwater city, Florida       Yes
1109  1217100        1             Delray Beach city, Florida       Yes
...       ...      ...                                    ...       ...
4762  4740000        1              Knoxville city, Tennessee       Yes
4776  4748000        1                Memphis city, Tennessee       Yes
4810  4801000        2                    Abilene city, Texas       Yes
4819  4803000        1                   Amarillo city, Texas       Yes
4827  4805000        1                     Austin city, Texas       Yes
4890  4819000        1                     Dallas city, Texas       Yes
4924  4827000        1                 Fort Worth city, Texas       Yes
4968  4835000        1                    Houston city, Texas       Yes
5099  4865000        1                San Antonio city, Texas       Yes
5223  4967000        1              Salt Lake City city, Utah       Yes
5265  5103000        3                Arlington CDP, Virginia       Yes
5290  5114968       12         Charlottesville city, Virginia       Yes
5310  5127200        3            Falls Church city, Virginia       Yes
5320  5129744        1          Fredericksburg city, Virginia       Yes
5331  5135624        2            Harrisonburg city, Virginia       Yes
5380  5156000        1            Newport News city, Virginia       Yes
5393  5167000        1                Richmond city, Virginia       Yes
5394  5168000        1                 Roanoke city, Virginia       Yes
5504  5335415        1                  Kent city, Washington       Yes
5562  5358235        2              Richland city, Washington       Yes
5567  5363000        3               Seattle city, Washington       Yes
5579  5367000        2               Spokane city, Washington       Yes
5588  5370000        1                Tacoma city, Washington       Yes
5597  5374060        1             Vancouver city, Washington       Yes
5613  5414600        2         Charleston city, West Virginia       Yes
5669  5531000        1              Green Bay city, Wisconsin       Yes
5692  5548000        2                Madison city, Wisconsin       Yes
5702  5553000        1              Milwaukee city, Wisconsin       Yes
5717  5560500        2                Oshkosh city, Wisconsin       Yes
5736  5572975        2              Sheboygan city, Wisconsin       Yes

[160 rows x 4 columns]