In [0]:
import pandas as pd
import numpy as np
import io
import matplotlib.pyplot as plt
from sklearn.cluster import MeanShift, estimate_bandwidth

#Reads file with merged city data along with employment prediction information
#Includes original data, min-max normalized data, and z-scores
combo = pd.read_csv("merged_city_data_normalized_with_employment.csv", encoding = 'ISO-8859-1')
combo = combo.drop_duplicates(subset=['GeoID'])

#Gets the name and GeoID of each city
names = combo[['GeoID', 'Place Name']]

#Gets a list of the affiliate cities
aff = pd.read_csv("Affiliate-City-to-Id2.csv", encoding = 'ISO-8859-1')
aff = aff[['Geoid']]
aff.columns = ['GeoID']
aff['Affiliate'] = pd.Series(['Yes']*160)

In [0]:
#Fetchs min-max normalized data from table and stores into data
data = combo.iloc[:,27:44]
data['Employment Rate Prediction min_max_normalized'] = combo['Employment Rate Prediction min_max_normalized']

#Fills NaN values with 0's
data = data.fillna(0)

#Stores into numpy array
arr = data2.values

In [0]:
#Bandwidth that creates a good number of clusters
bandwidth = 0.35

#Performs meanshift clustering
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
ms.fit(arr)
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique, counts = np.unique(labels, return_counts=True)
countClusters = dict(zip(labels_unique, counts))
n_clusters_ = len(labels_unique)

In [0]:
#Creates a new dataframe to store the results
res = pd.DataFrame(combo['GeoID'])

#Adds cluster labels, city names, and affiliate status to dataframe
res['Cluster'] = pd.Series(labels)
res = res.merge(names, on = 'GeoID')
res = res.merge(aff, how = 'left', on = 'GeoID')

#Outputs result as a csv
res.to_csv('clusters.csv')

#Creates a dataframe with all of the cluster centers and outputs as a csv
cc = pd.DataFrame(cluster_centers)
cc.to_csv("cluster_center.csv")

In [0]:
#Isolates city GeoID of each of the three major clusters
cluster1 = pd.DataFrame((res.loc[res['Cluster'] == 0])['GeoID'])
cluster2 = pd.DataFrame((res.loc[res['Cluster'] == 1])['GeoID'])
cluster3 = pd.DataFrame((res.loc[res['Cluster'] == 2])['GeoID'])

#Gets city statistics for each of the three major clusters
cluster1 = cluster1.merge(combo, on = 'GeoID', how = 'left')
cluster2 = cluster2.merge(combo, on = 'GeoID', how = 'left')
cluster3 = cluster3.merge(combo, on = 'GeoID', how = 'left')

#Gets means and standard deviations for the cities in each of the three major clusters
df3 = pd.DataFrame(cluster1.mean())
df3["Cluster 1 Standard Dev"] = pd.Series(cluster1.std())
df3["Cluster 2 Mean"] = pd.Series(cluster2.mean())
df3["Cluster 2 Standard Deviation"] = pd.Series(cluster2.std())
df3["Cluster 3 Mean"] = pd.Series(cluster3.mean())
df3["Cluster 3 Standard Deviation"] = pd.Series(cluster3.std())

#Outputs cluster statistics as a csv
df3.to_csv('cluster_stats.csv')

In [163]:
#Prints out the number of affiliate cities in each of the clusters
counts = affCluster['Cluster'].value_counts()
print(counts)

#Prints out cluster assignment for each of the affiliate cities
affCluster = res.loc[res['Affiliate'] == 'Yes']
print(affCluster)

1     98
2     29
15    11
3      7
12     5
24     2
7      2
35     1
20     1
18     1
9      1
6      1
0      1
Name: Cluster, dtype: int64
        GeoID  Cluster                             Place Name Affiliate
55     150000        1                   Mobile city, Alabama       Yes
100    203000        1         Anchorage municipality, Alaska       Yes
168    455000        1                  Phoenix city, Arizona       Yes
194    477000        1                   Tucson city, Arizona       Yes
253    566080        2              Springdale city, Arkansas       Yes
274    602000        1               Anaheim city, California       Yes
458    629000        1          Garden Grove city, California       Yes
460    630000        1              Glendale city, California       Yes
563    644000        1           Los Angeles city, California       Yes
565    644112        1             Los Gatos town, California       Yes
596    648354        1               Modesto city, California       Yes
628    653000       24               Oakland city, California       Yes
716    664000        1            Sacramento city, California       Yes
721    665000        1        San Bernardino city, California       Yes
726    666000        1             San Diego city, California       Yes
730    667000        3         San Francisco city, California       Yes
734    668000        1              San Jose city, California       Yes
810    680812        1               Turlock city, California       Yes
830    683346        1          Walnut Creek city, California       Yes
884    816000        1        Colorado Springs city, Colorado       Yes
891    820000        1                  Denver city, Colorado       Yes
916    832155        1                 Greeley city, Colorado       Yes
926    843000        1                Lakewood city, Colorado       Yes
965    908000       24           Bridgeport city, Connecticut       Yes
978    937000       15             Hartford city, Connecticut       Yes
986    952000        1            New Haven city, Connecticut       Yes
1035  1077580       15              Wilmington city, Delaware       Yes
1037  1150000        3  Washington city, District of Columbia       Yes
1083  1212875        2               Clearwater city, Florida       Yes
1109  1217100        1             Delray Beach city, Florida       Yes
1113  1217935        1                    Doral city, Florida       Yes
1188  1235000        1             Jacksonville city, Florida       Yes
1248  1245000        1                    Miami city, Florida       Yes
1253  1245200        1            Miami Springs city, Florida       Yes
1263  1247625        2                   Naples city, Florida       Yes
1281  1249675        2               North Port city, Florida       Yes
1297  1253000        1                  Orlando city, Florida       Yes
1316  1254450        1          Palm Springs village, Florida       Yes
1325  1255925        1                Pensacola city, Florida       Yes
1350  1260975        1            Riviera Beach city, Florida       Yes
1395  1270600        1              Tallahassee city, Florida       Yes
1398  1271000        1                    Tampa city, Florida       Yes
1463  1304000        1                  Atlanta city, Georgia       Yes
1496  1322052       18                  Decatur city, Georgia       Yes
1581  1373816        1           Stone Mountain city, Georgia       Yes
1689  1703012        1                  Aurora city, Illinois       Yes
1732  1714000        7                 Chicago city, Illinois       Yes
1862  1749867        2                  Moline city, Illinois       Yes
1920  1765000        1                Rockford city, Illinois       Yes
1973  1781048        0                 Wheaton city, Illinois       Yes
...       ...      ...                                    ...       ...
4029  3915000        1                  Cincinnati city, Ohio       Yes
4032  3916000       15                   Cleveland city, Ohio       Yes
4033  3916014        1           Cleveland Heights city, Ohio       Yes
4036  3918000        1                    Columbus city, Ohio       Yes
4042  3921000       15                      Dayton city, Ohio       Yes
4204  3977000        1                      Toledo city, Ohio       Yes
4283  4055000        1           Oklahoma City city, Oklahoma       Yes
4302  4075000        1                   Tulsa city, Oklahoma       Yes
4400  4202000        1           Allentown city, Pennsylvania       Yes
4465  4224000        1                Erie city, Pennsylvania       Yes
4481  4232800       15          Harrisburg city, Pennsylvania       Yes
4497  4241216       15           Lancaster city, Pennsylvania       Yes
4542  4260000       15        Philadelphia city, Pennsylvania       Yes
4544  4261000       12          Pittsburgh city, Pennsylvania       Yes
4560  4269000        2            Scranton city, Pennsylvania       Yes
4606  4459000        1          Providence city, Rhode Island       Yes
4688  4568290        1       Spartanburg city, South Carolina       Yes
4704  4631060        2               Huron city, South Dakota       Yes
4710  4659020        2         Sioux Falls city, South Dakota       Yes
4725  4714000        1            Chattanooga city, Tennessee       Yes
4762  4740000        1              Knoxville city, Tennessee       Yes
4776  4748000        1                Memphis city, Tennessee       Yes
4810  4801000        2                    Abilene city, Texas       Yes
4819  4803000        1                   Amarillo city, Texas       Yes
4827  4805000        1                     Austin city, Texas       Yes
4890  4819000        1                     Dallas city, Texas       Yes
4924  4827000        1                 Fort Worth city, Texas       Yes
4968  4835000        1                    Houston city, Texas       Yes
5099  4865000        1                San Antonio city, Texas       Yes
5223  4967000        1              Salt Lake City city, Utah       Yes
5265  5103000        3                Arlington CDP, Virginia       Yes
5290  5114968       12         Charlottesville city, Virginia       Yes
5310  5127200        3            Falls Church city, Virginia       Yes
5320  5129744        1          Fredericksburg city, Virginia       Yes
5331  5135624        2            Harrisonburg city, Virginia       Yes
5380  5156000        1            Newport News city, Virginia       Yes
5393  5167000        1                Richmond city, Virginia       Yes
5394  5168000        1                 Roanoke city, Virginia       Yes
5504  5335415        1                  Kent city, Washington       Yes
5562  5358235        2              Richland city, Washington       Yes
5567  5363000        3               Seattle city, Washington       Yes
5579  5367000        2               Spokane city, Washington       Yes
5588  5370000        1                Tacoma city, Washington       Yes
5597  5374060        1             Vancouver city, Washington       Yes
5613  5414600        2         Charleston city, West Virginia       Yes
5669  5531000        1              Green Bay city, Wisconsin       Yes
5692  5548000        2                Madison city, Wisconsin       Yes
5702  5553000        1              Milwaukee city, Wisconsin       Yes
5717  5560500        2                Oshkosh city, Wisconsin       Yes
5736  5572975        2              Sheboygan city, Wisconsin       Yes

[160 rows x 4 columns]