In [7]:
import numpy as np
import pandas as pd

In [18]:
aff_cities = pd.read_csv('./Affiliate-City-to-Id2.csv', header=None)

In [19]:
# predictors and outcome used by Bansak paper, along with location_id
# most predictors are binary, with 1 the positive signal
# gender: M is 0, F is 1
# geoid: US Census place geoid for resettlement location
# employed: 90-day employment outcomes
df = pd.DataFrame(columns=[
    'english_speaking', 'gender', 'arrival_age', 'educ_high',
    'arrival_year', 'arrival_month', 'geoid', 'employed'
])

# total number of refugees in dataset
n_refugees = 10000

avg_english_speaking_rate = 0.56
# working-age refugees
age_low = 18
age_high = 64
# percent of adult refugees with a tertiary education, from Science paper
avg_educ_high_rate = 0.1057
# arrival year range
arrival_year_low = 2011
arrival_year_high = 2016
# average employment rate under actual assignment, from Science paper
avg_employment_rate = 0.34

for i in range(n_refugees):
    english_speaking = np.random.choice([0,1], p=[1-avg_english_speaking_rate, avg_english_speaking_rate])
    gender = np.random.choice([0,1], p=[0.5, 0.5])
    arrival_age = np.random.choice(range(age_low, age_high+1))
    educ_high = np.random.choice([0,1], p=[1-avg_educ_high_rate, avg_educ_high_rate])
    arrival_year = np.random.choice(range(arrival_year_low, arrival_year_high+1))
    arrival_month = np.random.choice(range(1, 13))
    employed = np.random.choice([0,1], p=[1-avg_employment_rate, avg_employment_rate])
    geoid = np.random.choice(aff_cities.iloc[:,1])
    df.loc[i] = [english_speaking, gender, arrival_age, educ_high, 
                 arrival_year, arrival_month, geoid, employed]
    
print(df)

     english_speaking gender arrival_age educ_high arrival_year arrival_month  \
0                   1      0          60         0         2012             5
1                   1      1          28         0         2014            10
2                   0      0          26         0         2016             7
3                   1      0          46         0         2015            12
4                   1      0          55         1         2014             8
5                   1      0          18         0         2016            11
6                   1      1          52         0         2012             9
7                   0      1          46         0         2013            10
8                   0      1          53         0         2015             1
9                   1      1          57         0         2015             7
10                  1      1          27         0         2015             8
11                  1      0          53         0         2012             5
12                  0      1          39         0         2015            10
13                  1      1          48         0         2016             7
14                  1      0          46         0         2014             6
15                  1      0          57         0         2014             4
16                  1      0          60         0         2012             8
17                  0      0          62         0         2012            11
18                  0      1          50         1         2016             1
19                  1      0          32         0         2013             5
20                  0      0          31         0         2014             6
21                  1      1          52         0         2014            11
22                  1      1          24         0         2011             4
23                  1      0          64         0         2014            11
24                  1      1          31         0         2014            11
25                  0      0          28         0         2016            10
26                  1      1          61         0         2016             2
27                  1      0          39         0         2014            12
28                  1      1          31         1         2012             3
29                  1      0          20         0         2013            10
...               ...    ...         ...       ...          ...           ...
9970                1      0          24         0         2012             5
9971                1      0          18         0         2013             5
9972                1      0          41         0         2015             7
9973                1      1          21         0         2013            10
9974                0      0          48         1         2012             3
9975                0      0          26         1         2014             8
9976                0      0          51         0         2011             4
9977                0      0          47         0         2013             3
9978                1      0          59         0         2013            10
9979                0      0          53         0         2011             6
9980                1      0          47         0         2014             7
9981                1      1          60         1         2011             1
9982                0      1          27         0         2011             5
9983                0      1          37         0         2015            10
9984                0      0          20         0         2013             8
9985                1      1          47         0         2012            11
9986                1      0          39         0         2013             4
9987                0      1          39         1         2012             7
9988                1      1          26         1         2013             5
9989                1      1          29         0         2014             2
9990                0      1          60         0         2014             2
9991                1      0          51         0         2011             1
9992                0      0          44         0         2015            10
9993                1      1          50         0         2011            11
9994                1      1          25         0         2013            11
9995                1      0          40         1         2013            12
9996                0      1          41         0         2013             2
9997                1      1          20         0         2014             5
9998                1      1          34         0         2011             5
9999                1      1          43         0         2015            10

        geoid employed
0     4232800        0
1      820000        0
2     1304000        1
3     2965000        0
4     2582000        0
5     3673000        1
6     1077580        0
7      683346        0
8     5367000        0
9     2754880        1
10    4659020        1
11    3410000        0
12    1714000        0
13    1749867        1
14    3601000        0
15    3719000        0
16    1249675        0
17    2634000        0
18    3918000        0
19    4835000        0
20    4459000        0
21    2806220        1
22    5560500        0
23     644000        0
24     843000        0
25    3611000        0
26    2467675        0
27     664000        0
28    1245200        0
29    3918000        0
...       ...      ...
9970  2754214        1
9971  1249675        0
9972  2603000        0
9973  5560500        0
9974  1249675        1
9975  4232800        0
9976  4967000        0
9977  3977000        0
9978  1212875        0
9979  2646000        0
9980  2432650        0
9981  2754880        1
9982  2472450        1
9983  5363000        0
9984  1373816        0
9985  3419390        0
9986  5374060        0
9987  2603000        0
9988   668000        1
9989  2036000        0
9990  2754214        1
9991  2567000        0
9992  1235000        0
9993  2360545        1
9994  5363000        0
9995  2965000        0
9996  5560500        0
9997   630000        0
9998   680812        0
9999  1245200        1

[10000 rows x 8 columns]

In [20]:
df.to_csv('./synth-refugees-10000.csv')